.main {
  .sectionTwoIndex {
    .contFatherBoxProduct {
      display: grid;
      grid-template-areas: "div3 div2 div12" "div4 div5 div6" "div7 div8 div9" "div10 div11 div1" "div13 div13 div13";
      grid-row-gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      justify-content: center;
      justify-items: center;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}
